table {
	border-collapse: collapse;
	width: 50%;
	margin: 0 auto;
  }
  
  th,
  td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
  }
  
  th {
	background-color: #f2f2f2;
	font-weight: bold;
	position: sticky;
	top: 0;
	z-index: 1;
	height: 50px;
	transition: height 0.5s;
  }
  
  tbody tr {
	visibility: visible;
	transition: visibility 0.5s, opacity 0.5s ease-in-out;
  }
  
  table:hover th {
	height: 0;
  }
  
  table:hover tbody tr {
	visibility: hidden;
	opacity: 0;
  }
  